@model BusInspector.Dal.Seccion
@{
	ViewBag.Title = "CrearSeccion";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CrearSeccion</h2>

</br>
@using (Html.BeginForm("CrearSeccion", "Administracion", FormMethod.Post, new { @class = "form-signin" }))
{
	<div class="input-field">
		@Html.Label("Nombre")
		@Html.TextBoxFor(m => m.nombre, new { @class = "validate" })
		@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
	</div>

	<div class="input-field">
		@Html.Label("Direccion")
		@Html.TextBoxFor(m => m.direccion, new { @class = "validate" })
		@Html.ValidationMessageFor(model => model.direccion)
	</div>
	<div class="input-field">
		@Html.Label("nota")
		@Html.TextBoxFor(m => m.nota, new { @class = "validate" })
		@Html.ValidationMessageFor(model => model.nota)
	</div>

	<div class="input-field center-block">
		<input type="submit" class="btn btn-outline-white btn-lg" value="Crear">
	</div>
}