@model IEnumerable<BusInspector.Dal.Parada>

@{
    ViewBag.Title = "AltaParada";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<h2>Gestion Parada</h2>
<h7>@ViewBag.Mensaje</h7>
@if (Session["Mensaje"] != null)
{
    <h7>@Session["Mensaje"].ToString()</h7>
}

</br>
<table class="highlight centered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Nota</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var par in Model)
        {
            <tr>
                <td>@Html.DisplayFor(campo => par.id)</td>
                <td>@Html.DisplayFor(campo => par.nombre)</td>
                <td>@Html.DisplayFor(campo => par.direccion)</td>
                <td>@Html.DisplayFor(campo => par.nota)</td>
                <td>
                    <a href="@Url.Action("EditarParada", "Administracion", new { id = par.id })"><i class="material-icons">edit</i></a>
                    <a href="@Url.Action("EliminarParada", "Administracion", new { id = par.id })"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

</br></br></br>
<a class="btn-floating btn-large waves-effect waves-light orange" href="@Url.Action("CrearParada", "Administracion")"><i class="material-icons">add</i></a>
</br></br>
<br>
<br>
<input id="btnExport" type="submit" class="excel btn btn-success btn-block" value="Exportar a Excel">


<script>
$(document).on('click', '.excel', function () {
@{ TempData["FullModel"] = Model; }
window.location.href = '/Administracion/ExportToExcel/';
});
</script>

