@model IEnumerable<BusInspector.Dal.Frecuencia>
@{
    ViewBag.Title = "GestionFrecuencia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Gestion de Frecuencia</h2>

<h7>@ViewBag.Mensaje</h7>
@if (Session["Mensaje"] != null)
{
    <h7>@Session["Mensaje"].ToString()</h7>
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</br>
<table class="highlight centered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Horario inicial</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var frec in Model)
        {
            <tr>
                <td>@Html.DisplayFor(campo => frec.Id)</td>
                <td>@Html.DisplayFor(campo => frec.Descripcion)</td>
                <td>@Html.DisplayFor(campo => frec.HorarioInicial)</td>
                <td>
                    <a href="@Url.Action("EditarFrecuencia", "Administracion", new { id = frec.Id })"><i class="material-icons">edit</i></a>
                    <a href="@Url.Action("EliminarFrecuencia", "Administracion", new { id = frec.Id })"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

</br></br></br>
<a class="btn-floating btn-large waves-effect waves-light orange" href="@Url.Action("CrearFrecuencia", "Administracion")"><i class="material-icons">add</i></a>
</br></br>

<br>
<br>
<input id="btnExport" type="submit" class="excel btn btn-success btn-block" value="Exportar a Excel">


<script>
$(document).on('click', '.excel', function () {
@{ TempData["FullModel"] = Model; }
window.location.href = '/Administracion/ExportToExcel/';
});
</script>

