@model IEnumerable<BusInspector.Dal.Parada>

@{
	ViewBag.Title = "AltaParada";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Gestion Parada</h2>
<h7>@ViewBag.Mensaje</h7>
@if (Session["Mensaje"] != null)
{
	<h7>@Session["Mensaje"].ToString()</h7>
}

</br>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>direccion</th>
			<th>nota</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var par in Model)
		{
		<tr>
			<td>@Html.DisplayFor(campo => par.id)</td>
			<td>@Html.DisplayFor(campo => par.nombre)</td>
			<td>@Html.DisplayFor(campo => par.direccion)</td>
			<td>@Html.DisplayFor(campo => par.nota)</td>
			<td>
				<a href="@Url.Action("EditarParada", "Administracion", new { id = par.id })"><i class="material-icons">edit</i></a>
				<a href="@Url.Action("EliminarParada", "Administracion", new { id = par.id })"><i class="material-icons">delete</i></a>
			</td>
		</tr>
		}
	</tbody>
</table>

    </br></br></br>
<a class="btn-floating btn-large waves-effect waves-light orange" href="@Url.Action("CrearParada", "Administracion")"><i class="material-icons">add</i></a>

